<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
  <add name="PostgreSql" connectionString="User Id=postgres;Host=localhost;Database=Water_Management_System_Database;Password=electrospark;Persist Security Info=True;Initial Schema=public;"
   providerName="Devart::Data::PostgreSql;" />
  <add name="localhost_Water_Management_System_Database_Connection"
   connectionString="XpoProvider=Postgres;Server=localhost;User Id=postgres;Password=electrospark;Database=Water_Management_System_Database;Encoding=UNICODE;Port=5432" />
 </connectionStrings>
</configuration>
