<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>  
		<add
			name="PostgreSql"
			providerName="Devart::Data::PostgreSql;"
			connectionString="User Id=postgres;Host=localhost;Database=Water_Management_System_Database;Password=electrospark;Persist Security Info=True;Initial Schema=public;" />
	</connectionStrings>
</configuration>
